<h4>Media Platforms</h4>
<ul class="social_icons">
    {{if .Site.Params.github}} <li><a href="{{ .Site.Params.github }}" alt="" target="_blank"><i class="fa fa-github"></i></a></li> {{end}}
    {{if .Site.Params.telegram}}<li><a href="{{ .Site.Params.telegram }}" alt="" target="_blank"><i class="fa fa-telegram"></i></a></li>{{end}}
    {{if .Site.Params.twitter}}<li><a href="{{ .Site.Params.twitter }}" alt="" target="_blank"><i class="fa fa-twitter"></i></a></li>{{end}}
    {{if .Site.Params.youtube}}<li><a href="{{ .Site.Params.youtube }}" alt="" target="_blank"><i class="fa fa-youtube"></i></a></li>{{end}}
    <li><a href="/index.xml" alt="" target="_blank"><i class="fa fa-rss"></i></a></li>

</ul>

<h4>Become a Supporter!</h4>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="$VALUE">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
