<div class="align-row">
  <div>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="$VALUE">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  </div>
  <div>
    <a href="https://paypal.me/MindDripMedia/5" target="_blank" class="btn btn-default">
      <i class="fa fa-paypal"> Fast $5</i>
    </a>
  </div>
</div>
